html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gantari', sans-serif;
    letter-spacing: 0.05rem;
    color: #333;
}

* {
    box-sizing: border-box;
}

a {
    color: $brightOrange;
}