$darkGreen: #0f4c4f;
$lighterDarkGreen: #156165;
$brightGreen: #3ebd61;
$warmGreen: #b0d673;

$mainOrange: #d59541;

$brightPurple: #7d79fc;
$brightBlue: #4c5eee;
$brightWarmPurple: #ac4aff;
$brightRed: #e40d0e;
$darkRed: #cd0b00;
$brightOrange: #fc5b03;

$lightOrange: #ffccb5;
$lightPurple: #e1e0ff;
$lightGreen: #85d884;

$darkGrey: #3a3a3a;