.btn {
    color: white;
    text-decoration: none;
    padding: 0;
    display: inline-block;

    &--green {
        background-color: $brightGreen;
    }

    &--large {
        padding: 25px 35px;
        font-size: 1.4rem;
        position: relative;

        @mixin atSmall {
            font-size: 1.25rem;
        }
    }


    &--rhombus {
        margin-top: 0;
        margin-left: 0;
        float: none;
        color: white;
        text-decoration: none;
        z-index: 0;

        @mixin atLarge {
            float: left;
            margin-top: 25px;
            margin-left: 150px;
        }

        @mixin atMedLarge {
            margin-top: 10px;
            margin-left: 3rem;
        }
    }

    &--rhombus:before {
        -webkit-transform: skewX(20deg);
        -moz-transform: skewX(20deg);
        -ms-transform: skewX(20deg);
        transform: skewX(20deg);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        
        width: 100%;
        height: 100%;
        transition: .2s;
        -webkit-backface-visibility: hidden;
    }

    &--rhombus-green:before {
        background: $brightGreen;
    }

    &--rhombus-pink:before {
        background: $brightPink;
    }

    &--rhombus:hover:before {
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }

    &--small {
        padding: 13px 20px;
        font-size: 1.2rem;
        position: absolute;

        float: none;
        color: white;
        text-decoration: none;
        z-index: 0;

        margin-top: 15px;
        margin-left: -80px;
        margin-right: 0;
        
    }

}