.large-hero {
    height: 100vh;
    display: block;
    background-color: #156165;
    z-index: -2;

    @mixin atLarge {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 0.8fr;
    }

    &__background {
        grid-column: 1;
    }

    &__main-flower {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 6vh;
        width: 350px;

        @mixin atMedium {
            padding-top: 13vh;
        }
        
        @mixin atLarge {
            max-height: 75vh;
            width: auto;
            transform: none;  
            margin-top: 12.5vh;
            float: right;
            padding-right: 0px;
            padding-left: 8vw;
            padding-top: 0;
        }
        
        @mixin atMedLarge {
            padding-right: 2vw;
            padding-left: 75px;
        }
    }

    &__red-leaves-bottom {
        position: relative;
        margin-top: 30px;
        margin-right: 10vw;
        width: 125px;
        visibility: hidden;

        @mixin atMedLarge {
            visibility: visible;
        }
    }

    &__red-leaves-top {
        width: 300px;
        margin-left: -100px;
        visibility: hidden;

        @mixin atLarge {
            visibility: visible;
        }

        @mixin atMedLarge {
            width: 350px;
            margin-left: -150px;
        }
    }

    &__text-content {
        align-self: center;
        padding-top: 0;
        text-align: center;
        margin-top: -80px;

        @mixin atLarge {
            margin-top: 0;
            grid-column: 2;
            grid-row: 1;
            padding-top: 15vh;
        }

        @mixin atMedLarge {
            padding-top: 60px;
        }

    }

    &__title {
        font-weight: 300;
        float: left;
        color: #FFF;
        margin: 0;
        font-size: 4rem;
        font-family: 'Berkshire Swash', cursive;
        width: 100%;
        margin-top: -90px;
        
        @mixin atSmall {
            font-size: 5rem;
            margin-top: -100px;
        }

        @mixin atLarge {
            width: 450px;
            margin-top: 0px;
        }

        @mixin atMedLarge {
            width: 500px;
        }
    }

    &__subtitle {
        font-weight: 300;
        color: #FFF;
        font-size: 1.5rem;
        margin: 0;

        @mixin atSmall {
            font-size: 2.9rem;
        }
    }

    &__description {
        color: #FFF;
        font-size: 1.1rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;

        @mixin atSmall {
            font-size: 1.875rem;
        }
    }

    &__button {
        padding-top: 40px;

        @mixin atLarge {
            padding-top: 0;
        }
    }

}