.mini-hero {
    height: auto;
    width: auto;
    display: grid;

    &__picture {
        width: 100%;
    }

    &__blue-flower {
        max-width: 550px;
        padding-top: 60px;
    }

    &__circle-flower {
        max-width: 250px;


        @mixin atSmall {
            max-width: 450px;

        }

        @mixin atMedium {
            padding-bottom: 25px;
        }

        @mixin atLarge {
            padding-bottom: 0;
        }
    }

    &__flower {   
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    &__product-flower {
        max-width: 350px;
        max-height: none;
        height: auto;

        @mixin atSmall {
            max-width: 450px;
        }

        @mixin atMedium {
            max-width: 500px;
        }
    }


    &__process-flower {
        max-width: 300px;

        @mixin atSmall {
            max-height: 380px;
            max-width: none;
        }
        

        @mixin atMedium {
            max-width: 400px;
        }
        
        @mixin atLarge {
            max-height: 300px;
            max-width: 30vw;
        }

        @mixin atMedLarge{
            max-height: 500px;
        }

        }

    &--display-at-large {
        display: none;
        @mixin atLarge {
            display: block;
        }
    }

    &__testimonial-flower {
        width: 100vw;

        @mixin atSmall {
            width: 500px;
        }
        
        @mixin atMedium {
            width: 550px;
        }
        
    }

    &__testimonial-horizontal-flower {
        padding-top: 40px;
    }

    &__testimonial-orange-flower {
        @mixin atLarge {
            padding-top: 40px;
        }
        
        @mixin atMedLarge {
            padding-top: 0px;
        }
    }

    &__footer-plant {
        max-width: 250px;
        padding-top: 20px;
        @mixin atSmall {
            padding-top: 0;
            max-width: 350px;
        }
       
    }

    &__smaller-item {
        max-width: 28vw;
    }
}