.mini-hero {
    height: 300px;
    width: auto;
    display: grid;

    @mixin atExtraLarge {
        height: auto;
        margin-bottom: -150px;
    }

    &__first-image {
        grid-column: 1;
        padding-top: 30px;
    }

    &__second-image {
        grid-column: 2;
    }

    &__third-image {
        grid-column: 3;
    }

    &__flower { 
        max-width: 45vw;
        max-width: 550px;
        max-height: 35vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-bottom: 60px;
    }

    &__product-flower {
        max-width: 500px;
        max-height: none;
        height: auto;
    }

    &__footer-plant {
        max-width: 350px;
    }

    &__smaller-item {
        max-width: 28vw;
    }
}