.product {
    background-color: rgba(255, 255, 255, 1);
    padding: 0 18px 1px 18px;
    margin-bottom: 98px;
    text-align: center;

    @mixin atLarge {
        margin-bottom: 0;
        padding: 30px 1.8125rem 20px 1.8125rem;
    }

    &--last {
        margin-bottom: 0;
    }

    &__picture {
        width: 500px;
        border-radius: 50px;
    }


    &__title {
        color: $brightBlue;
        font-size: 2.3rem;
        text-align: center;
        margin: 0;
        padding-bottom: 20px;
    }

    &__description {
        margin: 20px auto 1.8rem auto !important;
        max-width: 490px;
        color: $darkGrey;
        font-size: 1.25rem;
    }

    &__shampoo {
        border: 3px solid $brightPurple;
    }

}