.process-item {
    position: relative;
    padding-bottom: 2.5rem;
    margin-right: 25px;

    @mixin atSmall {
        padding-left: 94px;
    }

    &__number {
        display: block;
        margin: 0 auto;
        font-size: 5rem;
        color: $brightWarmPurple;
        font-family: 'Berkshire Swash', cursive;

        @mixin atSmall {
            position: absolute;
            left: 0;
        }
    }

    &__smaller-number {
        font-size: 4.5rem;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: 0.7rem;
        margin-bottom: 0.8rem;
        text-align: center;

        @mixin atSmall {
            text-align: left;
            margin-top: 1em;
            font-size: 1.875rem;
        }

    }

    &__picture {
        width: 400px;
        border-radius: 10px;
    }
}