.process-item {
    position: relative;
    padding-bottom: 1em;
    margin-right: 0;
    width: 100vw;
    text-align: center;
    margin-top: -20px;


    @mixin atLarge {
        text-align: left;
        margin-top: 0;
        padding-left: 9.8vw;
        margin-right: 25px;
        margin-left: -50px;
    }

    @mixin atMedLarge {
        padding-left: 94px;
    }

    &__first {
        margin-left: 0;
        padding-left: 0;

        @mixin atLarge {
            margin-left: -10px;
            padding-left: 12vw;
        }
        @mixin atMedLarge {
            margin-left: 30px;
            padding-left: 94px;
        }
    }

    &__number {
        display: block;
        margin: 0 auto;
        color: $brightRed;
        padding-left: 30px;
        font-family: 'Berkshire Swash', cursive;

        font-size: 5rem;
        padding-top: 5px;

        padding-left: 0;
        padding-right: 0;
        width: 100vw;

        margin-bottom: -30px!important;

        @mixin atSmall {
            padding-top: 30px;
            margin-bottom: 0;
            position: absolute;
            left: 0;
            padding-top: 10px;
        }

        @mixin atLarge {
            font-size: 3rem;
            padding-top: 0;
            text-align: left;
            padding-left: 60px;
            text-align: left;
        }

        @mixin atMedLarge {
            font-size: 5rem;
            padding-top: 0;
            padding-left: 30px;
        }
        
    }

    &__first-number {
        padding-left: 0;

        @mixin atLarge {
            padding-left: 95px;
        }
        
        @mixin atMedLarge {
            padding-left: 40px;
        }
    }

    &__smaller-number {
        font-size: 4rem;
        padding-top: 3px;
        padding-bottom: 18px;

        @mixin atSmall {
            padding-top: 20px;
            padding-bottom: 0;
        }

        @mixin atLarge {
            padding-top: 4px;
            font-size: 2.5rem;
        }
        
        @mixin atMedLarge {
            font-size: 4.5rem;
        }
    }
    

    &__title {
        font-size: 1.6rem;
        font-weight: 300;
        
        margin-bottom: 0.8rem;
        color: $brightRed;
        max-width: 390px;
        padding-top: 0px;

        margin-left: auto;
        margin-right: auto;

        padding-left: 10px;
        padding-right: 10px;

        @mixin atSmall {
            margin-top: 1.5em;
            font-size: 1.875rem;
            padding-top: 130px;
            padding-left: 0;
            padding-right: 0;
        }

        @mixin atLarge {
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            text-align: left;
            margin-top: 0.7rem;
        }

        @mixin atMedLarge {
            max-width: 450px;
            margin-left: 0;
            margin-top: 1.5em;
        }

    }

    &__paragraph {
        max-width: 400px;
        margin-left: auto!important;
        margin-right: auto!important;
        padding-left: 15px;
        padding-right: 15px;

        @mixin atSmall {
            padding-left: 0;
            padding-right: 0;
        }

        @mixin atLarge {
            margin-left: 0!important;
            margin-right: 0!important;
            text-align: left;
            margin-left: 0;
            margin-right: 0;
            max-width: 390px;
        }
        
        @mixin atMedLarge {
            max-width: 450px;
        }
    }

    &__picture {
        width: 100vw;

        @mixin atSmall {
            border-radius: 10px;
            width: 400px;
        }

        @mixin atMedium {
            width: 600px
        }

        @mixin atLarge {
            text-align: left;
            width: 370px;
        }

        @mixin atMedLarge {
            width: 450px;
        }
    }

    &__green-border {
        border: $warmGreen 3px solid;
    }
}