.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;
    color: $brightPurple;
    font-family: 'Berkshire Swash', cursive;

    &--purple {
        color: $brightPurple;
    }

    &--red {
        color: $brightRed;
    }

    @mixin atSmall {
        font-size: 5rem;
    }

    &--less-margin {
        margin-bottom: 1.3rem;
        margin-top: 0;
    }

    &--more-padding {
        padding-top: 100px;
    }

}