.section-title {
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;

    padding-top: 0;
    margin-top: 0;

    &--purple {
        color: $brightPurple;
    }

    &--warmer-purple {
        color: $brightWarmPurple;
    }

    &--bright-green {
        color: $brightGreen;
    }

    &--red {
        color: $brightRed;
    }

    &--orange {
        color: $brightOrange;
    }

    @mixin atSmall {
        font-size: 5rem;
    }

    &--less-margin {
        margin-top: 0;
        padding-top: 0;
    }

    &--no-margin {
        margin-bottom: 0;
        margin-top: 0;
    }

    &--more-padding {
        padding-top: 100px;
    }

    &--less-padding {
        @mixin atLarge {
            padding-top: 30px; 
        }   
    }


}