.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;

    &--purple {
        color: $brightPurple;
    }

    &--warmer-purple {
        color: $brightWarmPurple;
    }

    &--bright-green {
        color: $brightGreen;
    }

    &--red {
        color: $brightRed;
    }

    &--orange {
        color: $brightOrange;
    }

    @mixin atSmall {
        font-size: 5rem;
    }

    &--less-margin {
        margin-bottom: 1.3rem;
        margin-top: 0;
    }

    &--more-padding {
        padding-top: 100px;
    }

    &--less-padding {
        padding-top: 30px;
    }


}