.site-footer {
    background-color: $darkGreen;
    color: #FFF;
    text-align: center;
    height: 80vh;
    margin-top: 20vh;
    padding-top: 10vh;

    &__text {
        display: block;
        margin-bottom: 1rem;
        font-weight: 200;
        font-size:1.2rem;

        @mixin atMedium {
            display: inline;
        }
    }

    &__text-block {
        padding-top: 0;
    }
}